.board {
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 10px;
    background-color: purple;
}

.welcome {
    background: white;
    text-align: center;
    padding: 40px;
}

.game {
    display:flex;
    flex-direction: column;
    vertical-align: middle;
}

.board-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player {
    display: flex;
    width: 150px;
    color: white;
}

.square {
    display: flex;
    height: 100px;
    width: 100px;
    outline: none;
    background: white;
    text-align: center;
    font-size: 70px;
    border: 3px solid purple;
}

.square:hover {
    background: gold;
}

.game_over {
    display: flex;
    padding: 10px;
    border: 5px solid red;
    background: white;
    text-align: center;
    font-size: 70px;
}

.game_over button {
    font-size: 30px;
}

.hide {
    display: none;
}
